// Load Fonts

@import url('https://fonts.googleapis.com/css?family=Chewy|Roboto:100,300,400|Yellowtail');

$white: #fff;
$grey: #F4F4F4;
$soft-grey: #888;
$soft-grey2: #21201e;
$soft-grey3: #80807f;
$red: #D91E18;
$soft-red: #e74c3c;
$yellow: #fbdb45;
$black: #1F1F1F;
$soft-black: #2A2A2A;
$black-black: #000000;

$color-backgrounds1: $white;
$color-backgrounds2: $grey;
$color-backgrounds3: $black;
$color-backgrounds4: $soft-black;
$span: $red;


$font-hero: 'Yellowtail', cursive;
$font-heading: 'Chewy', cursive;
$font-text: 'Roboto', sans-serif;
